<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css" media="all" type="text/css" />
    <title>Меню</title>
</head>
<body>
    <header class="menu-header">
        <span class="vertical-align-helper"></span>
        <img src="https://img.imgsmail.ru/static.promo/logo/logo.svg" class="logo">
    </header>
    <main class="table-border">
        <table class="menu">
            <tr><td colspan="2"><h1>Меню</h1></td></tr>
            <tr>
                <td>
                    <img src="../images/users.svg">
                    Авторизация
                </td>
                <td class="col2"><img src="../images/drop_down_big.svg"></td>
            </tr>
            <tr>
                <td>
                    <img src="../images/users.svg">
                    Регистрация
                </td>
                <td class="col2"><img src="../images/drop_down_big.svg"></td>
            </tr>
            <tr>
                <td>
                    <img src="../images/users.svg">
                    Авторы
                </td>
                <td class="col2"><img src="../images/drop_down_big.svg"></td>
            </tr>
            <tr>
                <td>
                    <img src="../images/game1.svg">
                    Играть
                </td>
                <td class="col2"><img src="../images/drop_down_big.svg"></td>
            </tr>
        </table>
    </main>
</body>
</html>